      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: serif;
        background-image: repeating-linear-gradient(90deg, #fff, #fff 20px, #fbfbfb 20px, #fbfbfb 40px);
        font-size: 16px;
        position: relative;
        padding-bottom: 3em;
        min-height: 100vh;
      }

      header {
        background-color: #333;
        color: #fff;
        padding: 1.25rem;
        text-align: center;
        grid-area: header;
      }

      .logo {
        margin-bottom: 0.5em;
      }

      .svg {
        width: 2em;
        height: 2em;
        fill: white;
      }

      .nav {
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .nav-list {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 0.4rem;
        list-style-type: none;
        display: flex;
      }

      .nav-list li {
        font-size: 1em;
        margin-right: 0.6rem;
        letter-spacing: 0.18rem;
        padding: .5rem;
        align-items: center;
        transition: 0.2s;
      }

      .nav-list li:hover {
        opacity: 0.7;
        background-color: #000;
        border-radius: 30px;
      }

      .menu_button {
        display: none;
      }

      a {
        color: #fff;
        text-decoration: none;
      }

      .container_index,
      .container_servicios,
      .container_propiedades,
      .container_desarrollos,
      .container_equipos {
        width: 90%;
        max-width: 100rem;
        margin: 1.25em auto;
        font-size: 1.56rem;
      }

      footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
        flex-shrink: 0;
        grid-area: footer;
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      /*----------INDEX--------------*/
      .container_index {
        /*insertar grid-area cuando se
        tengan los datos */
      }

      .imagenes_index {
        background: gray;
        display: flex;
        width: 100%;
        height: 12.5rem;
      }

      .imagenes_index img {
        height: auto;
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
      }

      .imagenes_index img:hover {
        width: 6.25rem;
        opacity: 1;
        filter: contrast(120%);
      }

      .main_index {
        max-width: 100em;
        margin: 1.25rem auto;
        padding: 1.25rem;
        background-color: #fff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.448);
      }

      .main_index h1 {
        margin-bottom: 0.625rem;
      }

      /*---------SERVICIOS---------*/
      .container_servicios {
        /*insertar grid-area cuando
        se tengan los datos*/
      }

      .fieldset_ancla_servicios {
        margin-bottom: 1rem;
        background-color: #b6b6b6;
        display: flex;
        justify-content: center;
        grid-area: fieldset;
      }

      .fieldset_ancla_servicios ul {
        padding: 0.5rem;
        list-style-type: none;
        display: flex;
      }

      .fieldset_ancla_servicios li a {
        color: #000;
        margin-right: 0.62rem;
        letter-spacing: 0.18rem;
        padding: .5rem;
        align-items: center;
        transition: 0.2s;
      }

      .fieldset_ancla_servicios li a:hover {
        font-size: 1.25rem;
        color: #fff
      }

      .fieldset_contenido {
        display: none;
        pointer-events: none;
      }

      .administracion,
      .desarrollos,
      .fliping,
      .ventas,
      .rentas {
        margin-bottom: 1.5rem;
        background-color: #fff;
        padding: 1.25rem;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.448);
        grid-area: article;
      }

      /*----PROPIEDADES------*/
      .container_propiedades {
        display: grid;
        grid-row-gap: 1.25em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (5, auto);
        grid-template-areas:
          'header header '
          'section1 section1'
          'section2 section2'
          'section3 section3'
          'footer footer';
      }

      .section_casa1,
      .section_casa2,
      .section_casa3 {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.448);
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: (1, auto);
        grid-template-areas:
          'aside article article';
      }

      .section_casa1 {
        grid-area: section1;
      }

      .section_casa2 {
        grid-area: section2;
      }

      .section_casa3 {
        grid-area: section3;
      }

      .aside_casa1,
      .aside_casa2,
      .aside_casa3 {
        background-color: gray;
        grid-area: aside;
      }

      .aside_casa1 img,
      .aside_casa2 img,
      .aside_casa3 img {
        height: auto;
        background-size: cover; 
        display: block;
        width: 100%;
        height: 100%;
        max-height: 35vh;
      }

      .article_casa1,
      .article_casa2,
      .article_casa3 {
        background-color: #fff;
        padding: 1.25rem;
        grid-area: article;
      }

      /*--------------DESARROLLOS-----------------*/
      .container_desarrollos {
        display: grid;
        grid-gap: 1.25rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (4, auto);
        grid-template-areas:
          'header header'
          'section section'
          'main main'
          'footer footer';
      }

      .section_desarrollos {
        background-color: #fff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.448);
        grid-area: section;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (1, auto);
        grid-template-areas:
          'img article'
      }

      .imagen_1 {
        background-color: gray;
        grid-area: img;
      }

      .imagen_1 img {
        height: auto;
        background-size: cover;
        display: block;
        width: 100%;
        height: 100%;
      }

      .article_seccion1 {
        padding: 1.25em;
        box-sizing: border-box;
        grid-area: article;
      }

      .main_desarrollos {
        padding: 1.25em;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.448);
        grid-area: main;
      }

      /*-----------------EQUIPOS----------------*/
      /*.container_equipos {
        display: grid;
        grid-gap: 1.25em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (4, auto);
        grid-template-areas:
          'header header'
          'section1 section1'
          'section2 section2'
          'footer footer';
      }

      .section1 {
        grid-area: section1;
      }

      .section2 {
        grid-area: section2;
      }

      .section1,
      .section2 {
        background-color: #000;
        color: #fff;
        padding: 1.25rem;
        box-sizing: border-box;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: (1, auto);
        grid-template-areas:
          'team_img team_text team_text team_text';
      }

      .aside_tlahui,
      .aside_mada {
        max-height: 9.37rem;
        grid-area: team_img;
      }

      .aside_tlahui img,
      .aside_mada img {
        border-radius: 50%;
        height: auto;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
      }

      .article_tlahui,
      .article_mada {
        grid-area: team_text;
      }*/

      /*-----------RESPONSIVE-------------*/
      @media screen and (max-width: 900px) {
        .nav-list li {
          font-size: 0.87rem;
        }

        .imagenes_index {
          height: 10rem;
        }
      }

      @media screen and (max-width: 768px) {
        .logo {
          font-size: 1.7rem;
        }

        .nav-list li {
          font-size: 0.75rem;
          letter-spacing: 0.13rem;
        }
      }

      @media screen and (max-width: 660px) {
        .section_casa1,
        .section_casa2,
        .section_casa3 {
          grid-row-gap: 0;
          grid-template-areas:
            'aside aside aside'
            'article article article';
        }

        .aside_casa1,
        .aside_casa2,
        .aside_casa3 {
          max-height: 290px;
          align-items: center;
          text-align: center;
        }

        .section_desarrollos {
          display: block
        }
      }

      @media screen and (max-width: 630px) {
        .nav-list li {
          margin-right: 0;
        }

        .fieldset_ancla_servicios {
          font-size: 1rem;
        }
      }

      @media screen and (max-width: 560px) {
        .fieldset_ancla_servicios {
          width: 80%;
          margin-top: 16px;
          margin-bottom: 16px;
          flex-direction: column;
          border: solid #000;
        }

        .fieldset_contenido {
          margin-top: 10px;
          margin-left: 10px;
          font-size: 1.5rem;
          display: flex;
          pointer-events: auto;
        }

        .fieldset_ancla_servicios ul {
          margin-left: 10px;
          display: block;
          list-style-type: disc;
          font-size: 14px;
        }

        .fieldset_ancla_servicios li {
          margin: 5px;
        }
        .section1,
        .section2 {
          text-align: center;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: (2, auto);
          grid-template-areas:
          'team_img team_img team_img'
          'team_text team_text team_text';
        }
      }

      @media screen and (max-width:426px) {
        header {
          height: 64px;
        }

        .logo {
          text-align: left;
          float: left;
        }

        .menu_button {
          display: block;
          background: transparent;
          border-color: transparent;
          float: right;
          cursor: pointer;
        }

        .nav {
          position: relative;
          width: 100%;
          height: 0;
          pointer-events: none;
          overflow: hidden;
          transition: all .5s ease;

          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
        }

        .nav.activo {
          height: 40vh;
          pointer-events: auto;
        }

        .nav-list {
          border: none;
          position: absolute;
          justify-content: center;
          flex-direction: column;
          width: 60%;
          height: 39%;
        }

        .nav-list li {
          margin: 0.5rem 0;
          font-size: 0.93rem;
        }

        .imagenes_index {
          display: none;
        }

        .container_index,
        .container_servicios,
        .container_propiedades,
        .container_desarrollos,
        .container_equipos {
          margin: 0;
          margin-left: 1.25rem;
        }

        .section_desarrollos {
          grid-template-areas:
          'article article'
          'img     img';
        }
      }